@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>This is my Battleships website that I created as my project for my education in the Microsoft Software and Systems Academy. I hope you enjoy playing it.</p>
