@{
    ViewBag.Title = "Home Page";
}

@if (Session["Username"] != null)
{
    <div class=" warning">
        <h2>Hello @Session["Username"].ToString()</h2>
    </div>
}
else
{
    <div class=" warning">
        <h2>Hello Guest!</h2>
    </div>
}

<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Unity WebGL Player | Battleships</title>
    <script src="Build/UnityLoader.js"></script>
    <script>
        var gameInstance = UnityLoader.instantiate("gameContainer", "Build/Battleships.json");
    </script>
</head>
<body>
    <div id="gameContainer" style="width: 700px; height: 460px; margin: auto"></div>
</body>
</html>